{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'burgerplace/style.css' %}" />
    <title>{% block title %}Burgerplace{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="app">
        <header>
          <div class="header-first-row">
            <img
              src="{% static 'burgerplace/burger-logo.png' %}"
              alt="Logo"
              width="80px"
            />
            <h1 class="title">Burgerplace</h1>
          </div>
          {% if user.is_authenticated %}
            <p>Hi, {{ user.username }}!</p>
            <nav class="navbar">
              {% url 'home' as home_url %}
              {% url 'menuitems' as menuitems_url %}
              {% url 'create_menuitem' as create_menuitem_url %}
              {% url 'reciperequirements' as reciperequirements_url %}
              {% url 'create_reciperequirement' as create_reciperequirement_url %}
              {% url 'ingredients' as ingredients_url %}
              {% url 'create_ingredient' as create_ingredient_url %}
              {% url 'purchases' as purchases_url %}
              {% url 'create_purchase' as create_purchase_url %}
              <a class="nav-item{% if request.path == home_url %} current-page{% endif %}" href="{% url 'home' %}">Home</a>
              <a class="nav-item{% if request.path == menuitems_url or request.path == create_menuitem_url or request.path == reciperequirements_url or request.path == create_reciperequirement_url %} current-page{% endif %}" href="{% url 'menuitems' %}">Menuitems</a>
              <a class="nav-item{% if request.path == ingredients_url or request.path == create_ingredient_url %} current-page{% endif %}" href="{% url 'ingredients' %}">Ingredients</a>
              <a class="nav-item{% if request.path == purchases_url or request.path == create_purchase_url %} current-page{% endif %}" href="{% url 'purchases' %}">Purchases</a>
              <a class="nav-item" href="{% url 'logout' %}">Logout</a>
            </nav>
          {% else %}
            <nav class="navbar">
              {% url 'login' as login_url %}
              {% url 'signup' as signup_url %}
              <a class="nav-item{% if request.path == login_url %} current-page{% endif %}" href="{% url 'login' %}">Login</a>
              <a class="nav-item{% if request.path == signup_url %} current-page{% endif %}" href="{% url 'signup' %}">Signup</a>
            </nav>
          {% endif %}
        </header>
        <main>{% block content %}{% endblock %}</main>
      </div>
</body>
</html>